* {
    font-family: "FiraCode Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0 0px;
}

window#waybar {
    background-color: #32302f;
    border-radius: 5px;
    border: 2px solid #fbf1c7;
    color: #c0caf5;
}

#workspaces button {
    border-top: 2px solid #fbf1c7;
    border-radius: 0px;
    border-bottom: 2px solid #fbf1c7;
    background-color: #32302f;
    color: #fbf1c7;
    padding: 5px 10px;
}

#workspaces button:nth-child(1) {
    border-left: 2px solid #fbf1c7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


#workspaces button:hover {
    box-shadow: none;
}

#workspaces button.active {
    border: 2px solid #fbf1c7;
    background: #4c4642;
}

#clock {
    color: #fbf1c7;
    border-top: 2px solid #fbf1c7;
    border-bottom: 2px solid #fbf1c7;
    background-color: #32302f;
}

#network {
    background-color: #32302f;
    border: 2px solid #fbf1c7;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 10px;
    color: #fbf1c7;
}

#pulseaudio {
    border: 2px solid #fbf1c7;
    padding: 5px 10px;
    background-color: #32302f;
    color: #fbf1c7;
}
